 * {
    scroll-behavior: smooth;
}
/*
.top-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-banner p {
    align-content: flex-start;
    display: block;
}

nav {
    border: solid, 2px;
}

.navigation {
    text-decoration: none;
    display: inline-block;
    border: solid, black
} */